body {
    display: grid;
    margin: 0px;
    border: 0px;
    
 }

 .game-area {
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr; 
     margin: 0px;
     padding: 0px;
     border: 0px;
     background-color: rgb(133, 133, 133);
 }
 
 .row {
     margin: 0px;
     padding: 0px;
     border: 0px;
 }
 main {
     background-color: black;
     margin: 0px;
     border: 0px;
 }
 td {
     justify-content: center;
     align-items: center;
     background-color: lightgray;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 0px;
     padding: 0px;
     border: 0px;
     height: 420px;
     width: 100px;
 }
 header {
     height: 10vh;
     background-color: rgb(207, 46, 46);
     text-align: center;
     align-content: center;
     
 }
 h1 {
     align-self: center;
     font-family: 'Patua One';
     font-size: 40px;
 }

 button {
     font-size: 20px;
     height: 50px;
     width: 100px;
 }

.card-container {
  height: 100%;
  width: 100%;
}

span {
  display: flex;
  align-self: center;
}

footer {
  background-color: rgb(207, 46, 46);
  display: flex;
  align-content: center;
}

#theScores {
  align-content: right;
}
 
