
body {
   display: grid;
   margin: 0px;
   border: 0px;
   
}

.game-area {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.row {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
main {
    background-color: black;
    margin: 0px;
    border: 0px;
}
td {
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 114, 4);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header {
    height: 10vh;
    background-color: lightgreen;
    text-align: center;
    align-content: center;
    
}
h1 {
    align-self: center;
    font-family: 'Patua One';
    font-size: 40px;
}

.card {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    cursor: pointer;
    /* Set the card's dimensions, and size it relative to
       it's font size. */
    font-size: inherit;
    width: 180px;
    height: 248px;
    /* Add a default background color and border. */
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    /* Scale and set the background settings. */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* "Hide" any text within the element (use text to be
       simply compliant with screen readers, etc.). */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* Default sizes for cards (size based off the font). */
    /* Optional styles for cards: borderless and drop shadow. */
    /* Not a card, but a card-shaped outline to represent a
       droppable place, like an empty pile. */ }
    .card.small {
      font-size: 12px; }
    .card.large {
      font-size: 26px; }
    .card.xlarge {
      font-size: 42px; }
    .card.no-border {
      border: 0; }
    .card.shadow {
      box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
    .card.outline {
      background-image: none;
      background-color: rgba(195, 195, 195, 0.5);
      border: 0.15em dashed #daa520; 
    }

